@import 'navigation';
@import 'banner';
@import 'services';
@import 'about';
@import 'portfolio';
@import 'contact';
@import 'footer';

@font-face {
  font-family: Fibra-One-Thin;
  src: url(../fonts/Fibra-One-Thin.otf);
}
@font-face {
  font-family: Fibra-One-Regular;
  src: url(../fonts/Fibra-One-Regular.otf);
}
@font-face {
  font-family: Fibra-One-UltraBold;
  src: url(../fonts/Fibra-One-UltraBold.otf);
}
@font-face {
  font-family: Fibra-One-Heavy;
  src: url(../fonts/Fibra-One-Heavy.otf);
}

body {
  margin: 0 auto;

  h2, h3, h4 {
    text-align: center;
    text-transform: uppercase;
  }

  h2, h3 {
    font-family: Fibra-One-Heavy;
  }

  h4 {
    font-family: Fibra-One-UltraBold;
  }

  p, li, input {
    font-family: Fibra-One-Regular;
    font-size: 12px;
  }

  h2 {
    font-size: 45px;
    margin: 30px 0 30px 0;
  }
  h3, h4 {
    font-size: 20px;
  }

}

