.navigation {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 5px 0 rgba(80, 80, 80, 0.2); }
  .navigation .navbar {
    margin: 0;
    padding: 0;
    font-family: Fibra-One-UltraBold;
    font-size: 12px;
    text-transform: uppercase; }
    .navigation .navbar img {
      padding: 10px 0 10px 20px; }
    .navigation .navbar .navbar-nav {
      padding: 10px 0 0 20px; }
      .navigation .navbar .navbar-nav a {
        color: black;
        height: 20px;
        text-decoration: none;
        margin: 0 10px 10px 10px;
        padding-left: 0;
        padding-right: 0;
        border-bottom: solid 0px white;
        transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in; }
      .navigation .navbar .navbar-nav a:hover {
        border-bottom: solid 5px #ffd400;
        transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in; }
      .navigation .navbar .navbar-nav .navbar-brand {
        padding: 0; }
      .navigation .navbar .navbar-nav .navbar-collapse {
        padding: 15px 0 0 20px; }
    .navigation .navbar .navbar-toggler {
      border: none; }

.banner {
  top: 100px;
  display: block;
  height: 580px;
  background-image: url("../img/banner.svg");
  background-position: center;
  background-size: cover; }

@media (max-width: 1200px) {
  .banner {
    height: 500px; } }
@media (max-width: 900px) {
  .banner {
    height: 350px; } }
@media (max-width: 650px) {
  .banner {
    height: 275px; } }
@media (max-width: 450px) {
  .banner {
    height: 180px; } }
@font-face {
  font-family: Kanto;
  src: url(../fonts/KantoScript-Regular.otf); }
#services {
  margin: 0 0 80px 0; }
  #services .services-description {
    margin: 0 0 80px 0;
    padding: 0;
    text-align: center; }
    #services .services-description li {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      width: 30%;
      padding: 4% 4% 40px 4%;
      margin: 0 auto; }
      #services .services-description li .divider {
        display: block;
        width: 50px;
        height: 5px;
        margin: auto;
        background-color: #ffd400;
        text-align: center; }
      #services .services-description li img {
        height: 70px;
        margin: 0 0 30px 0; }
      #services .services-description li p {
        margin: 20px 0 0 0; }
    #services .services-description h3 {
      margin: 0 0 15px 0;
      font-size: 35px; }
  #services .cadre {
    height: 40px;
    width: 75vw;
    margin: 0 auto;
    border: solid 1px black;
    position: relative;
    z-index: 1; }
    #services .cadre h4 {
      top: -20px;
      left: 15%;
      right: 15%;
      margin: 0 auto;
      background-color: white;
      padding: 0 20px 0 20px;
      position: absolute;
      z-index: 2;
      font-family: Kanto;
      text-transform: lowercase;
      font-size: 40px; }
    #services .cadre .cadre-jaune {
      height: 40px;
      width: 75vw;
      top: 10px;
      left: 1%;
      right: 10%;
      margin: 0 auto;
      border: solid 1px #ffd400;
      padding: 0 20px 0 20px;
      position: absolute;
      z-index: 0; }
  #services .list-logos {
    text-align: center;
    margin: 100px 0 0 0;
    padding: 0; }
    #services .list-logos li {
      display: inline-block;
      margin: 10px 2% 0 2%; }
      #services .list-logos li img {
        height: 50px; }

@media (min-width: 901px) {
  #services .services-description li .service {
    height: 80px; } }
@media (max-width: 900px) {
  #services .services-description li {
    display: block;
    width: 100%; } }
@media (max-width: 1052px) {
  #services .cadre {
    height: 90px; }
    #services .cadre .cadre-jaune {
      height: 90px; } }
@media (max-width: 560px) {
  #services .cadre {
    height: 140px; }
    #services .cadre .cadre-jaune {
      height: 140px; } }
@media (max-width: 454px) {
  #services .cadre {
    height: 190px; }
    #services .cadre .cadre-jaune {
      height: 190px; } }
@font-face {
  font-family: Fibra-One-UltraLight;
  src: url(../fonts/Fibra-One-UltraLight.otf); }
#about {
  overflow: hidden; }
  #about .portrait {
    display: block;
    padding: 0;
    background-color: black;
    overflow: hidden;
    width: 100vw; }
    #about .portrait img {
      width: 100vw; }
  #about .about-content {
    display: block;
    background-color: black;
    text-align: left;
    padding: 10% 8% 4% 10%; }
    #about .about-content .cadre {
      display: flex;
      align-items: center;
      height: 100%;
      border: solid 1px #ffd400;
      padding: 10% 0 10% 0; }
      #about .about-content .cadre .about-content-description {
        display: block;
        background-color: black;
        margin: 0 0 0 -5%;
        padding: 0 10% 0 0; }
        #about .about-content .cadre .about-content-description h2 {
          margin: 20px 0 20px 0;
          text-align: left;
          color: #ffd400; }
        #about .about-content .cadre .about-content-description h3 {
          color: white;
          text-align: left;
          margin: 0 0 30px 0; }
        #about .about-content .cadre .about-content-description p {
          color: white;
          font-family: Fibra-One-UltraLight; }

@media (min-width: 768px) {
  .portrait {
    overflow: hidden;
    width: 35vw !important; }
    .portrait img {
      width: 70vw !important;
      margin: 0 0 0 -30%; }

  .about-content {
    display: block;
    background-color: black;
    text-align: left;
    padding: 4% 8% 4% 5% !important; }
    .about-content .cadre {
      padding: 0 !important; }
      .about-content .cadre .about-content-description {
        display: block;
        background-color: black;
        margin: 0 0 0 -5%;
        padding: 0 10% 0 0; } }
@media (min-width: 900px) {
  .portrait {
    overflow: hidden;
    width: 35vw !important; }
    .portrait img {
      width: 60vw !important;
      margin: 0 0 0 -15%; } }
@media (min-width: 1050px) {
  .portrait {
    overflow: hidden;
    width: 30vw !important; }
    .portrait img {
      width: 45vw !important;
      margin: 0; } }
@media (min-width: 2000px) {
  .portrait {
    overflow: hidden; }
    .portrait img {
      width: 35vw !important;
      margin: 0; } }
#portfolio {
  margin: 100px 0 0 0; }
  #portfolio .portfolio-list {
    margin: 0 auto;
    padding: 0;
    text-align: center; }
    #portfolio .portfolio-list .modal-90w {
      width: 90vw !important; }
    #portfolio .portfolio-list ul {
      padding: 0;
      margin: 0 auto;
      text-align: left; }
    #portfolio .portfolio-list li {
      display: inline-block;
      text-align: left;
      margin: 1%; }
      #portfolio .portfolio-list li .vignette {
        position: relative;
        overflow: hidden;
        width: 22vw;
        height: 16vw; }
        #portfolio .portfolio-list li .vignette button {
          border: none;
          margin: 0;
          padding: 0; }
          #portfolio .portfolio-list li .vignette button h4 {
            position: absolute;
            color: white;
            margin: 0 0 0 20px;
            bottom: 0;
            z-index: 5;
            opacity: 0;
            transition: all .6s linear;
            -o-transition: all .6s linear;
            -moz-transition: all .6s linear;
            -webkit-transition: all .6s linear; }
          #portfolio .portfolio-list li .vignette button .filtre {
            position: absolute;
            display: block;
            margin: 0;
            background-color: black;
            width: 22vw;
            height: 100%;
            opacity: 0;
            transition: all .6s linear;
            -o-transition: all .6s linear;
            -moz-transition: all .6s linear;
            -webkit-transition: all .6s linear; }
          #portfolio .portfolio-list li .vignette button img {
            width: 22vw;
            z-index: 0;
            transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in; }
        #portfolio .portfolio-list li .vignette button:hover .filtre {
          opacity: 0.7;
          transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -webkit-transition: all 0.3s ease-in; }
        #portfolio .portfolio-list li .vignette button:hover h4 {
          opacity: 1;
          bottom: 50%;
          transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -webkit-transition: all 0.3s ease-in; }
        #portfolio .portfolio-list li .vignette button:hover img {
          width: 28vw;
          transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -webkit-transition: all 0.3s ease-in; }
  @media (max-width: 1200px) {
    #portfolio .portfolio-list li .vignette {
      width: 30vw;
      height: 23vw; }
      #portfolio .portfolio-list li .vignette button .filtre {
        width: 30vw; }
      #portfolio .portfolio-list li .vignette button img {
        width: 30vw; }
      #portfolio .portfolio-list li .vignette button:hover img {
        width: 35vw; } }
  @media (max-width: 767px) {
    #portfolio .portfolio-list li {
      margin: 2%; }
      #portfolio .portfolio-list li .vignette {
        width: 44vw;
        height: 33vw; }
        #portfolio .portfolio-list li .vignette button .filtre {
          width: 44vw; }
        #portfolio .portfolio-list li .vignette button img {
          width: 44vw; }
        #portfolio .portfolio-list li .vignette button:hover img {
          width: 50vw; } }
  @media (max-width: 600px) {
    #portfolio .portfolio-list li {
      margin: 3%; }
      #portfolio .portfolio-list li .vignette {
        width: 90vw;
        height: 67vw; }
        #portfolio .portfolio-list li .vignette button .filtre {
          width: 90vw; }
        #portfolio .portfolio-list li .vignette button img {
          width: 90vw; }
        #portfolio .portfolio-list li .vignette button:hover img {
          width: 110vw; } }

.modal-dialog {
  margin: 3% 0 3% 4% !important; }
  .modal-dialog .modal-content {
    width: 90vw !important;
    margin: 0 !important;
    padding: 40px 5%;
    border: none; }
    .modal-dialog .modal-content .modal-header {
      border: none;
      padding: 0; }
      .modal-dialog .modal-content .modal-header h3 {
        font-size: 30px;
        text-align: left; }
    .modal-dialog .modal-content .modal-body {
      padding: 0; }
      .modal-dialog .modal-content .modal-body p {
        font-size: 16px;
        font-family: Fibra-One-Thin; }
      .modal-dialog .modal-content .modal-body .categories {
        margin: 30px 0 50px 0;
        padding: 0;
        font-size: 12px;
        font-family: Fibra-One-Regular; }
        .modal-dialog .modal-content .modal-body .categories li {
          display: inline-block;
          margin: 0 20px 0 0; }
          .modal-dialog .modal-content .modal-body .categories li img {
            width: 20px;
            margin: 0 5px 0 0; }
      .modal-dialog .modal-content .modal-body .project-images {
        margin: 0;
        padding: 0; }
        .modal-dialog .modal-content .modal-body .project-images li {
          list-style-type: none; }
          .modal-dialog .modal-content .modal-body .project-images li img {
            width: 80vw;
            margin: 0 0 50px 3%; }
    .modal-dialog .modal-content .modal-footer {
      border: none;
      margin: 0;
      padding: 0; }
    .modal-dialog .modal-content .close {
      border: none;
      background-color: none; }
      .modal-dialog .modal-content .close img {
        width: 35px; }

@media (max-width: 900px) {
  .modal-dialog .modal-body .project-images img {
    margin: 0 0 50px 2% !important; } }
@media (max-width: 600px) {
  .modal-dialog {
    margin: 3% 0 3% 3% !important; }
    .modal-dialog .modal-body .project-images img {
      margin: 0 0 50px 1% !important; } }
.modal-backdrop {
  opacity: 1 !important;
  background-color: white !important; }

#contact {
  margin: 75px 0 0 0;
  padding: 20px 0 0 0;
  background-color: #ffd400; }
  #contact .contact-form {
    padding: 40px;
    margin: 0; }
    #contact .contact-form .contact-infos {
      padding: 0 0 0 5%; }
      #contact .contact-form .contact-infos ul {
        padding: 0; }
        #contact .contact-form .contact-infos ul li {
          display: inline-block;
          vertical-align: middle;
          margin: 0 20px 0 0;
          font-size: 14px; }
          #contact .contact-form .contact-infos ul li img {
            height: 40px; }
  #contact .contact-location {
    display: block;
    margin: 0 0 50px 0;
    padding: 0;
    text-align: center; }
    #contact .contact-location img {
      width: 37vw;
      margin: 30px 0 0 0; }

@media (max-width: 1400px) {
  #contact .contact-location img {
    width: 45vw; } }
@media (max-width: 992px) {
  #contact .contact-location img {
    width: 75vw; } }
@media (max-width: 650px) {
  #contact .contact-location img {
    width: 90vw; } }
.footer {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  color: #ffd400;
  background-color: black; }
  .footer p {
    text-transform: uppercase; }
    .footer p .auteur {
      color: white; }

@font-face {
  font-family: Fibra-One-Thin;
  src: url(../fonts/Fibra-One-Thin.otf); }
@font-face {
  font-family: Fibra-One-Regular;
  src: url(../fonts/Fibra-One-Regular.otf); }
@font-face {
  font-family: Fibra-One-UltraBold;
  src: url(../fonts/Fibra-One-UltraBold.otf); }
@font-face {
  font-family: Fibra-One-Heavy;
  src: url(../fonts/Fibra-One-Heavy.otf); }
html, body {
  margin: 0 auto;
  padding: 0; }
  html h2, html h3, html h4, body h2, body h3, body h4 {
    text-align: center;
    text-transform: uppercase; }
  html h2, html h3, body h2, body h3 {
    font-family: Fibra-One-Heavy; }
  html h4, body h4 {
    font-family: Fibra-One-UltraBold; }
  html p, html li, html input, body p, body li, body input {
    font-family: Fibra-One-Regular;
    font-size: 12px; }
  html h2, body h2 {
    font-size: 50px;
    margin: 30px 0 30px 0; }
  html h3, html h4, body h3, body h4 {
    font-size: 20px; }

/*# sourceMappingURL=style.css.map */
